<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
				"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tobacco Patents</title>

{#
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" type="text/css" media="all" />
#}
<link rel="stylesheet" type="text/css" href="{{ asset ('bundles/tobaccopatents/css/htmlpage.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset ('bundles/tobaccopatents/css/patents.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset ('bundles/tobaccopatents/css/homepage.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset ('bundles/tobaccopatents/css/pagerfanta.css') }}" />
<meta name="DC.Date" content="2011-12-18T21:20:28Z" />
</head>

<body id='home'>
<div id='container'>

<div id='banner'>
	<h1>Tobacco Patents</h1>
	<h2>Fast, easy searches of tobacco-related patents</h2>
</div>

<div id="home-search">
	<form method="get" id="searchform" action="{{ path('patent_list') }}">
		<fieldset id="search">
			<input name='q' id='q' type="text" value="{{ app.request.get('q', '') }}" />
			<input id='search-submit' type='submit' value='Search' />
		</fieldset>
	</form>
</div>

<div style="clear: both;">
{% block body %}
{% endblock %}
</div>

</div><!-- container -->

	<div id="footer">
    <p><strong>(c) Roswell Park Cancer Institute</strong><br />
    {% if is_granted('ROLE_ADMIN') %}
      {# IS_AUTHENTICATED_REMEMBERED | IS_AUTHENTICATED_ANONYMOUSLY | IS_AUTHENTICATED_FULLY #}
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      {% endif %}
      <a href='{{ path('patent_admin') }}'>Admin Dashboard</a>
    {% else %}
      <a href='{{ path('patent_login') }}'>Admin Login</a>
    {% endif %}
	 <br /></p>
  </div>

</body>
</html>
